/* Override CSS mainly from minimal-mistakes.css */

/* https://fonts.google.com/specimen/Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 80em) {
  html {
    font-size: 20px;
  }
}

/* Minimal mistakes defaults */
.franklin-content a {
  color: #32859e;
}
.franklin-content a:hover {
  color: #266477;
}
.franklin-content a:visited {
  color: #5197ad;
}

tt,
code,
kbd,
samp,
pre {
  font-family: "Julia Mono", "Fira Code", "Fira Mono", Monaco, Consolas, "Lucida Console", monospace;
}

.page-foot {
  font-size: 75%;
}

.masthead__menu-item {
  font-size: 90%;
}

#goog-wm-sb,
.archive__item-title,
.author__urls-wrapper,
.breadcrumbs,
.btn,
.comment__date,
.masthead__inner-wrap,
.nav__sub-title,
.nav__title,
.notice,
.notice--danger,
.notice--info,
.notice--primary,
.notice--success,
.notice--warning,
.page-foot,
.page__content dd,
.page__content dt,
.page__footer-copyright,
.page__footer-follow li,
.page__lead,
.page__meta,
.pagination li a,
.pagination ul,
.pagination--pager,
.sidebar .author__name,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6,
.sidebar li,
.sidebar p,
.skip-link,
.toc,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
select,
table,
figcaption,
textarea {
  font-family: Lato, Noto, "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
}

.masthead,
.greedy-nav {
  background: #3a75c4;
}

.greedy-nav a {
  color: #fafafa;
}

.masthead__inner-wrap {
  padding: 1ex;
}

@media (min-width: 64em) {
  .sticky {
    position: relative;  /* disable stickyness */
    top: 0em;
  }
  .sidebar {
    float: left;
    width: calc(300px - 1em);
    opacity: 1.0;
  }
}

.sidebar p,
.sidebar li {
  font-size: 1em;
}

.sidebar .author__name {
  font-size: 1.2em;
}

.author__avatar {
  width: auto;
  height: auto;
}

.author__avatar img {
  max-width: 240px;
  border-radius: 30%;
}

@media (min-width: 64em) {
  .author__avatar img {
    padding: 0px;
  }
}

#map {
  width: 100%;
  height: 28em;
}

.table-history {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 0.8em;
  align-items: baseline;
}

.table-history-left {
  padding-left: 1ex;
  padding-bottom: 0.5ex;
  flex: 22%;
}

.table-history-right {
  flex: 78%;
}

/* Reduce margin wrt theme default. */
.contact-info p {
  margin-bottom: 1ex;
}

.email-js {
  margin-bottom: 1em;
}

.publication-list {
  font-size: 90%;
  /* line-height: 1.25em;  /1* Franklin default is 1.35em *1/ */
}

.publication-list ul {
  padding-left: 20px;
}

.darkmode--activated body,
.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated h3,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h1 a,
.darkmode--activated h2 a,
.darkmode--activated h3 a,
.darkmode--activated h4 a,
.darkmode--activated h5 a,
.darkmode--activated span,
.darkmode--activated div,
.darkmode--activated p
{
  color: #eceff4 !important;
}

.darkmode--activated .masthead {
  border-bottom: 1px solid #505050;
}

.darkmode--activated .author__avatar img {
    border: 1px solid #2e2e2e;
}

.darkmode--activated .social-icons .fa-github {
  color: #eceff4;
}

.darkmode-toggle {
    z-index: 500;
}

.franklin-content img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
}

.franklin-content figcaption {
  color: #898c8f;
  font-size: 0.8em;
  line-height: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.franklin-content .darkmode--activated figcaption {
  color: #dadada;
}
