<body class="layout--single">
  {{ insert masthead.html }}
  <div class="initial-content">
    <div id="main" role="main">
      <div class="sidebar sticky">
        <div itemscope itemtype="https://schema.org/Person">
          <div class="author__avatar">
            <img src="/assets/jipolanco.jpg" alt="Juan Ignacio Polanco" itemprop="image">
          </div>
          <div class="author__content">
            <h3 class="author__name" itemprop="name">Juan Ignacio Polanco</h3>
            <p class="author__bio" itemprop="description">
            CNRS researcher
            </p>
          </div>
          <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">
              <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
                <a href="http://legi.grenoble-inp.fr" rel="nofollow noopener noreferrer">
                <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
                <span itemprop="name">
                  LEGI, Grenoble
                </span>
                </a>
              </li>
              <li>
                <a href="https://orcid.org/0000-0001-7705-753X" rel="nofollow noopener noreferrer">
                  <i class="ai ai-fw ai-orcid" aria-hidden="true"></i> Orcid
                </a>
              </li>
              <li>
                <a href="https://github.com/jipolanco" rel="nofollow noopener noreferrer">
                  <i class="fab fa-fw fa-github" aria-hidden="true"></i> Github
                </a>
              </li>
              <li>
                <a href="https://www.researchgate.net/profile/Juan-Polanco-2" rel="nofollow noopener noreferrer">
                  <i class="ai ai-fw ai-researchgate" aria-hidden="true"></i> ResearchGate
                </a>
              </li>
              <li>
                <a href="https://scholar.google.com/citations?user=QNfbWS0AAAAJ" rel="nofollow noopener noreferrer">
                  <i class="ai ai-fw ai-google-scholar" aria-hidden="true"></i> Google Scholar
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
