<!-- CONTENT ENDS HERE -->

      </div> <!-- closure of main -->
    </div>   <!-- closure of class initial--content -->

    <!-- <div class="page__footer"> -->
    <!--   <footer> -->
    <!--     <!-1- start custom footer snippets -1-> -->
    <!--     <!-1- end custom footer snippets -1-> -->
    <!--     <!-1- <div class="page__footer-follow"> -1-> -->
    <!--     <!-1-   <ul class="social-icons"> -1-> -->
    <!--     <!-1-     <li><strong>Follow:</strong></li> -1-> -->
    <!--     <!-1-     <li><a href="https://twitter.com/mmistakes" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li> -1-> -->
    <!--     <!-1-     <li><a href="https://github.com/mmistakes" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li> -1-> -->
    <!--     <!-1-   </ul> -1-> -->
    <!--     <!-1- </div> -1-> -->
    <!--     <div class="page__footer-copyright">&copy; {{ fill author }}. Powered by <a href="https://github.com/tlienart/Franklin.jl">Franklin</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div> -->
    <!--   </footer> -->
    <!-- </div> -->

    <script src="/libs/minimal-mistakes/main.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
  </body>
</html>
