<!doctype html>
<!--
  Minimal Mistakes Jekyll Theme 4.16.4 by Michael Rose
  Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
  Free for personal and commercial use under the MIT license
  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <!-- end custom head snippets -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
                         integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
                         crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
          integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
          crossorigin=""></script>

  <!-- Dark mode -->
  <!-- https://darkmodejs.learn.uno/ -->
  <!-- https://github.com/tlienart/Franklin.jl/issues/958 -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      const options = {
        bottom: '32px', /* default: '32px' */
        right: '32px', /* default: '32px' */
        left: 'unset', /* default: 'unset' */
        time: '0.0s', /* default: '0.3s' */
        mixColor: '#fff', /* default: '#fff' */
        backgroundColor: '#fff', /* default: '#fff' */
        buttonColorDark: '#100f2c', /* default: '#100f2c' */
        buttonColorLight: '#fff', /* default: '#fff' */
        saveInCookies: true, /* default: true, */
        label: '🌓', /* default: '' */
        autoMatchOsTheme: true /* default: true */
      };
      const darkmode = new Darkmode(options);
      darkmode.showWidget();
    };
    window.addEventListener('DOMContentLoaded', addDarkmodeWidget);
  </script>

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//tomate.goeiwkensasd.ovh/";
      _paq.push(['setTrackerUrl', u+'tomate.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'tomate.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
<!-- End Matomo Code -->
</head>
{{insert body_layout.html}}

<!-- Content appended here -->
