<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- <a class="site-title" href="/">Juan Ignacio Polanco</a> -->
        <a class="site-title" href="/"></a>
        <ul class="visible-links">
          <li class="masthead__menu-item"><a href="/">Home</a></li>
          <li class="masthead__menu-item"><a href="/research/">Research</a></li>
          <li class="masthead__menu-item"><a href="/publications/">Publications</a></li>
          <li class="masthead__menu-item"><a href="/open-source/">Open-source</a></li>
          <!-- <li class="masthead__menu-item"><a href="/offers/">Jobs</a></li> -->
          <li class="masthead__menu-item"><a href="/assets/CV.pdf">CV</a></li>
          <li class="masthead__menu-item"><a href="/#contact">Contact</a></li>
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
