<div class="page-foot">
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> {{ fill author }}. {{isnotpage /tag/*}}Last modified: {{ fill fd_mtime }}.{{end}}
    Website built with <a
      href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a
      href="https://julialang.org">Julia programming language</a>.
    Theme adapted from <a
      href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"
      rel="nofollow">Minimal Mistakes</a>.
</div>
